.product-page {
    /*background: #318f6438;*/
    background: #eee;
     min-height: 680px;
}

.product-img .image img {
   height: 550px;
} 

.product-img {
    text-align: center;
}

#img-tag {
    text-align: center;
    width: auto;
    height: auto;
}

.product-page
{
     margin: 5px;
    padding: 20px;
}

/*tr:nth-child(even) {
    background: lightgray;
}

tr:nth-child(odd) {
    background: #b1a7a7;           
}*/

.product-page ul li {
    color: black;
    font-size: 1.5em;
    text-align: left;
}

.product-page ul {
    text-align: left;
}

.addtocart {
    margin: 5px;
    text-align: center;
}

.addtocart a {
    color: black;
}

.addtocart button {
    background: orange;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
}

.image {
    text-align: center;
}

th {
    background: black;
    color: white;
}
.table {
    margin-top: 20px;
    padding: 20px;
}

table, th, td {
    border: 1px solid black;
}

.product-specs ul li i {
    font-size: 20px;    
}

/* Snackbar */

#snackbar , #added {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    background-color: #333;
    color: #fff; 
    text-align: center; 
    border-radius: 2px;
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    top: 50px; 
}

#snackbar.show , #added.show{
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 50px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 50px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 50px; opacity: 1;}
    to {top: 0; opacity: 0;}
}